<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="{{ path('welcome') }}">Welcome page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('new') }}">New Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('sales') }}">Sales</a>
            </li>

            {% if app.session.get('username') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">Logout ({{ app.session.get('username') }})</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login_form') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>