<html>
<head>
    {{ include('index/header.html.twig') }}
</head>
    <body>
    {{ include('index/user_profile.html.twig') }}

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Login Form</h1>
            <h3>Login: bechemm@gmail.com, Password: password</h3>
        </div>
    </div>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="w-50 p-3" style="background-color: #eee;">
        {{ form(form) }}
    </div>

    {{ include('index/footer.html.twig') }}
    </body>
</html>
