<html>
<head>
    {{ include('index/header.html.twig') }}
</head>
    <body>

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">New Product</h1>
        </div>
    </div>
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="w-50 p-3" style="background-color: #eee;">
        {{ form(form) }}
    </div>

    {{ include('index/footer.html.twig') }}
    </body>
</html>
