<html>
<head>

    {{ include('index/header.html.twig') }}

    <link href="../assets/styles/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="../assets/js/tabulator.min.js"></script>
</head>
<body>



<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Sales Page</h1>
    </div>
</div>


<div class="w-50 p-3" id="example-table"></div>
<script>
    var table = new Tabulator("#example-table", {
        ajaxURL:'{{ path('data') }}',
        autoColumns:true,
    });
</script>
{{ include('index/footer.html.twig') }}
</body>
</html>