<html>
    <head>
        {{ include('index/header.html.twig') }}
    </head>
    <body>
        {{ include('index/user_profile.html.twig') }}

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Product has been saved</h1>
        </div>
    </div>
    {{ include('index/footer.html.twig') }}
    </body>
</html>
