<html>
    <head>
        {{ include('index/header.html.twig') }}
    </head>
    <body>
        <div class="header">
            <h1>Welcome</h1>
            {{ include('index/user_profile.html.twig') }}
        </div>

        {{ include('index/footer.html.twig') }}
    </body>
</html>
